flow.json
[
    {
        "id": "cd2ab657c3f1f32c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e171fe73cfa53ef0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff4a104d4d50b6d1",
        "type": "inject",
        "z": "cd2ab657c3f1f32c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "3823bde01cd340a6"
            ]
        ]
    },
    {
        "id": "3823bde01cd340a6",
        "type": "link out",
        "z": "cd2ab657c3f1f32c",
        "name": "l1",
        "mode": "link",
        "links": [],
        "x": 345,
        "y": 200,
        "wires": []
    },
    {
        "id": "78ebea88a55b6d5d",
        "type": "link in",
        "z": "e171fe73cfa53ef0",
        "name": "",
        "links": [],
        "x": 245,
        "y": 220,
        "wires": [
            [
                "8cac39fde51ed8df"
            ]
        ]
    },
    {
        "id": "8cac39fde51ed8df",
        "type": "debug",
        "z": "e171fe73cfa53ef0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 220,
        "wires": []
    }
]